<ion-view title="Contacts" style="background-color: #5dd0c2;">
    <ion-content overflow-scroll="true" padding="true" scroll="true" class="has-header">
        <a ui-sref="info" class="button button-stable button-block  icon-left ion-ios-person">Shree Diagmber Jain Panchayat</a>
        <a ui-sref="information" class="button button-stable button-block  icon-left ion-woman">Shree Mahavir Mahila Parishad</a>
        <a ui-sref="doctors" class="button button-stable button-block  icon-left ion-ios-medkit">Doctors</a>
        <a ui-sref="bhawan" class="button button-stable button-block  icon-left ion-ios-home">Bhawan</a>
        <a ui-sref="restaurants" class="button button-stable button-block  icon-left ion-android-restaurant">Restaurants</a>
        <a ui-sref="hotels" class="button button-stable button-block  icon-left ion-home">Hotels</a>
        <a ui-sref="people" class="button button-stable button-block  icon-left ion-ios-people">People</a>
        <a ui-sref="gasAgency" class="button button-stable button-block  icon-left ion-flame">Gas Agency</a>
        <form class="list"></form>
    </ion-content>
</ion-view>