<ion-view title="Info">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <div class="button-bar">
            <a ui-sref="completeInfo" class="button button-stable button-block button-small">Hukam Chand</a>
            <a href="tel:148536665552" class="button button-stable button-block button-small icon-right ion-android-call">589632145</a>
        </div>
    </ion-content>
</ion-view>