<ion-view title="People">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <label class="item item-input" name="people">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Enter Name">
            </label>
        </form>
        <div class="button-bar">
            <a ui-sref="addressPeople" class="button button-stable button-block button-small">Arihant Ch. Sethi</a>
            <a href="tel:123456789" class="button button-stable button-block button-small icon-right ion-android-call">123456789</a>
        </div>
    </ion-content>
</ion-view>